services:
  api:
    build: 
      context: ./api
      dockerfile: dockerfile
    container_name: supabase-api
    env_file:
      - ./api/.env
    ports:
      - "3000:3000"
    command: npm start
    volumes:
      - ./api:/app
    